.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.filters__btn,
.sorting__btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  background: $white;
  box-shadow: $shadow-2;
  border: none;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
  }
}

.filters__btn {
  padding-right: 10px;
  padding-left: 35px;

  &::after {
    width: 12px;
    height: 15px;
    left: 10px;
    background-image: url("../img/icon-filter.svg");
  }
}

.sorting__btn {
  max-width: 150px;
  padding-right: 35px;
  padding-left: 10px;
  text-align: left;

  &::after {
    right: 10px;
    width: 14px;
    height: 8px;
    background: url("../img/icon-sort.svg") no-repeat;
  }

  &[aria-expanded="true"]::after {
    transform: translateY(-50%) rotate(180deg);
  }
}

.sorting {
  position: relative;
  text-align: left;
}

.sorting__list {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  box-sizing: border-box;
  background: $white;
  box-shadow: $shadow-2;
  border-radius: 4px;
  cursor: pointer;
}

.sorting__item {
  padding: 10px;

  &:hover,
  &:focus {
    transition: 0.3s ease-in;
    background-color: $orange;
  }
}

.filters {
  background-color: $bg-color;
  border-radius: 8px;
  z-index: 200;
}

@media(max-width: $max-tablet) {
  .filters__btn {
    padding-right: 15px;
  }

  .sorting__btn {
    max-width: 170px;
    padding-left: 15px;
  }

  .filters {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: scroll;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    padding: 45px 25px;
    box-shadow: $shadow-3;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: $gray;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($text-color, .3);
    }
  }
}

.filters__element {
  margin-bottom: 25px;
}

.filters__label {
  display: inline-block;
  margin-bottom: 20px;
  vertical-align: top;
  font-size: 16px;
  font-weight: 500;
}

.price__wrapper {
  display: flex;
}

input[type="number"] {
  width: 100px;
  box-sizing: border-box;
  padding: 8px 13px;
  border: 1px solid $gray;
  appearance: textfield;

  &:first-of-type {
    margin-right: 14px;
  }

  &:hover,
  &:focus {
    transition: 0.3s ease-in;
    border: 1px solid $orange;
  }
}

.checkbox {
  display: flex;
  flex-direction: column;
}

.checkbox li {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 0 8px 40px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

input[type="checkbox"] + label {
  cursor: pointer;
}

input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + label::before,
input[type="checkbox"]:not(:checked) + label::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 1px solid $gray;
}

input[type="checkbox"]:focus + label:before,
input[type="checkbox"]:hover + label:before {
  transition: border 0.3s ease-in;
  border: 1px solid $orange;
}

input[type="checkbox"]:checked + label::before {
  background: url("../img/icon-check.svg") center no-repeat;
  background-size: 12px 8px;
}

.filter-btns button {
  width: 100%;
  display: inline-block;
  margin-top: 15px;
  padding: 15px 25px;
  vertical-align: top;
  border: 2px solid $yellow;

  &[type="button"] {
    background-color: $yellow;
  }

  &[type="reset"] {
    background: $white;
  }
}

@media(min-width: $min-desktop) {
  .filters__btn,
  .filters .close-popup {
    display: none;
  }

  .controls {
    position: absolute;
    top: 15px;
    right: 7%;
  }

  .filters {
    display: block;
    position: relative;
  }

  .filter-btns button[type="button"] {
    display: none;
  }

  input[type="number"] {
    width: 80px;
  }
}