.rooms--card {
  padding: 40px 0;

  .title {
    margin-bottom: 30px;
    font-size: 28px;
  }

  .rooms__wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 16px;
    row-gap: 16px;
    margin-bottom: 30px;
  }

  .rooms__picture {
    overflow: hidden;
  }

  .rooms__picture:first-child {
    grid-column: 1/4;
    border-radius: 8px;
  }

  .rooms__picture[href="#"]:not(:first-child) {
    opacity: .5;
    border-radius: 4px;
  }

  .rooms__params li {
    padding: 10px 0;
  }

  .rooms__facilities {
    padding-top: 5px;
  }

  .rooms__facilities li {
    display: flex;
    align-items: center;
  }

  .rooms__facilities .icon {
    max-width: 18px;
    max-height: 18px;
    margin-right: 15px;
  }
}

@media(min-width: $min-tablet) {
  .rooms--card {
    padding: 60px 0;

    .rooms__block {
      display: grid;
      grid-template-columns: 354px auto;
      justify-content: space-between;
    }

    .rooms__wrapper {
      grid-template-columns: repeat(3, 104px);
      grid-template-rows: 288px 84px;
      column-gap: 21px;
      row-gap: 21px;
      align-content: space-between;
      margin-bottom: 0;
    }

    figcaption {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .title {
      margin-top: -10px;
      font-size: 36px;
    }

    .picture {
      width: 354px;
    }

    .rooms__params li {
      padding: 7px 0;
    }
  }
}

@media(min-width: $min-desktop) {
  .rooms--card {
    padding: 80px 0;
    background-image: url("../img/paw-2.svg");
    background-repeat: no-repeat;
    background-size: 357px 350px;
    background-position: calc((100% + 950px) / 2) 40px;

    .rooms__block {
      display: grid;
      grid-template-columns: 600px auto;
      column-gap: 70px;
      justify-content: start;
    }

    .rooms__wrapper {
      grid-template-columns: 70px 500px;
      grid-template-rows: repeat(3, 112px);
      column-gap: 30px;
      row-gap: 30px;
      margin-bottom: 0;
      align-content: start;
    }

    .rooms__picture:first-child {
      grid-column: 2;
      grid-row: 1/4;

      .picture {
        width: 500px;
      }
    }

    .rooms__picture:not(:first-child) {
      grid-column: 1;

      .picture {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}