$rubik: "Rubik", "Arial", sans-serif;
$plex: "IBM Plex Sans", "Arial", sans-serif;

$yellow: #fac663;
$white: #fff;
$orange: #ff7236;
$gray: #e1e1e1;
$text-color: #1a212f;
$text-pale-color: #8f8f8f;
$bg-color: #fffefd;

$max-mobile: 767px;
$min-tablet: 768px;
$max-tablet: 1365px;
$min-desktop: 1366px;

$shadow-1: 0px 0px 25px rgba(208, 208, 208, 0.25);
$shadow-2: 0px 2px 12px rgba(173, 152, 143, 0.18);
$shadow-3: 0px 4px 25px rgba(153, 153, 153, 0.25);
